<div class="container">
    <div class="footer__row">
        <!-- Footer column 1 -->
        <div class="footer__col">
            <!-- Logo -->
            <a href="./" class="logo footer__logo">
                <img
                    src="./assets/icons/logo.svg"
                    alt="grocerymart"
                    class="logo__img"
                />
                <h1 class="logo__title">Shop Thể Thao</h1>
            </a>
            <p class="footer__desc">
                Shop Web Thể Thao - Mua đồ chất, giá hời nhất
            </p>

            <p class="footer__help-text">
                Nhận tin tức và cập nhật về sản phẩm.
            </p>
            <form action="" class="footer__form">
                <input
                    type="text"
                    class="footer__input"
                    placeholder="Địa chỉ email"
                />
                <button class="btn btn--primary">Gửi</button>
            </form>
        </div>

        <!-- Footer column 2 -->
        <div class="footer__col">
            <h3 class="footer__heading">Cửa hàng</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">Khuyến mại thời trang</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Giảm giá giày dép</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 3 -->
        <div class="footer__col">
            <h3 class="footer__heading">Ủng hộ</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">Tìm kiếm cửa hàng</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Trạng thái đơn hàng</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 4 -->
        <div class="footer__col">
            <h3 class="footer__heading">Công ti</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">Dịch vụ khách hàng</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Điều khoản sử dụng</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Sự riêng tư</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Nghề nghiệp</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Các chi nhánh</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 5 -->
        <div class="footer__col">
            <h3 class="footer__heading">Liên hệ</h3>
            <ul class="footer__list">
                <li>
                    <p class="footer__label">Email</p>
                    <a
                        href="mailto:contact@grocerymart.com"
                        class="footer__link"
                    >
                        theanhhh12@gmail.com
                    </a>
                </li>
                <li>
                    <p class="footer__label">Hotline</p>
                    <a href="tel:0924861859" class="footer__link">0924861859</a>
                </li>
                <li>
                    <p class="footer__label">Địa chỉ</p>
                    <p class="footer__text">
                        Số nhà 325, đường Lam Sơn,phường Đồng Tâm, thành phố
                        Vĩnh Yên
                    </p>
                </li>
                <li>
                    <p class="footer__label">Giờ</p>
                    <p class="footer__text">M - F 08:00am - 06:00pm</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__bottom">
        <p class="footer__copyright">
            © 2010 - 2025 Grocery Mart. All rights reserved.
        </p>

        <div class="footer__socials">
            <a
                href="#!"
                class="footer__social-link footer__social-link--facebook"
            >
                <img
                    src="./assets/icons/facebook.svg"
                    alt=""
                    class="footer__social-icon"
                />
            </a>
            <a
                href="#!"
                class="footer__social-link footer__social-link--youtube"
            >
                <img
                    src="./assets/icons/youtube.svg"
                    alt=""
                    class="footer__social-icon"
                />
            </a>
            <a
                href="#!"
                class="footer__social-link footer__social-link--tiktok"
            >
                <img
                    src="./assets/icons/tiktok.svg"
                    alt=""
                    class="footer__social-icon"
                />
            </a>
            <a
                href="#!"
                class="footer__social-link footer__social-link--twitter"
            >
                <img
                    src="./assets/icons/twitter.svg"
                    alt=""
                    class="footer__social-icon"
                />
            </a>
            <a
                href="#!"
                class="footer__social-link footer__social-link--linkedin"
            >
                <img
                    src="./assets/icons/linkedin.svg"
                    alt=""
                    class="footer__social-icon"
                />
            </a>
        </div>
    </div>
</div>
