@use "../abstracts";
%flexItemCenter {
    display: flex;
    align-items: center;
}
.header {
    position: relative;
    z-index: 2;
    background-color: var(--header-bg-color);
    @include abstracts.breakpoint(lg) {
        box-shadow: 0 20px 60px 10px --header-shadow-color;
    }
}

.top-bar {
    @extend %flexItemCenter;
    position: relative;
    z-index: 2;
    padding: 30px 0;
    @include abstracts.breakpoint(md) {
        padding: 16px 0;
        justify-content: space-between;
    }
    @include abstracts.breakpoint(lg) {
        padding: 20px 0;
    }
    &__more {
        display: none;

        @include abstracts.breakpoint(lg) {
            display: block;
        }
    }

    &__logo {
        @include abstracts.breakpoint(lg) {
            gap: 10px !important;
            margin-left: 40px;

            &-title {
                font-size: 1.8rem !important;
            }

            &-img {
                width: 24px;
            }
        }
        @include abstracts.breakpoint(sm) {
            margin-left: 10px;
        }
    }
}
.navbar {
    margin-left: 129px;
    @include abstracts.breakpoint(xl) {
        margin-left: 30px;
    }
    @include abstracts.breakpoint(lg) {
        border-radius: 0 20px 20px 0;
        position: fixed;
        inset: 0 50% 0 0;
        background-color: var(--sidebar-bg);
        margin-left: 0;
        z-index: 9;
        padding: 20px 0;
        translate: -100%;

        transition: translate 0.5s;
        &.show {
            translate: 0;
            box-shadow: 0 40px 90px 20px var(--sidebar-shadow);
        }
        &.show ~ &__overlay {
            visibility: visible;
            opacity: 1;
        }
    }
    @include abstracts.breakpoint(sm) {
        inset: 0 20% 0 0;
    }
    &__list {
        @extend %flexItemCenter;
        @include abstracts.breakpoint(lg) {
            flex-direction: column;
            align-items: flex-start;
            overflow-y: auto;
            height: calc(100% - 40px);
        }
        @include abstracts.breakpoint(md) {
            height: calc(100% - 140px);
        }
    }
    &__close-btn {
        display: none;
        @include abstracts.breakpoint(lg) {
            display: block;
            padding: 10px 40px;
        }
        @include abstracts.breakpoint(sm) {
            padding: 0px 20px 10px;
        }
    }
    &__overlay {
        visibility: hidden;
        opacity: 0;
        @include abstracts.breakpoint(lg) {
            position: fixed;
            inset: 0;
            z-index: 8;
            transition: visibility, opacity;
            transition-duration: 0.5s;
            background: rgba($color: #000, $alpha: 0.4);
        }
    }
    &__item {
        &:hover .dropdown {
            display: block;
        }
        @include abstracts.breakpoint(lg) {
            width: 100%;
            &:hover .dropdown {
                display: none;
            }
            &--active .dropdown {
                display: block !important;
            }
        }
    }
    &__link {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
        @extend %flexItemCenter;
        gap: 6px;
        height: 50px;
        padding: 0 15px;
        white-space: nowrap;
        @include abstracts.breakpoint(lg) {
            padding: 0 40px;
            justify-content: space-between;
            font-size: 1.6rem;

            line-height: 1.5;
        }
        @include abstracts.breakpoint(sm) {
            padding: 0 20px;
            height: 44px;
        }
    }
    &__arrow {
        margin-top: 3px;
        @include abstracts.breakpoint(lg) {
            rotate: -90deg;
        }
    }
    &__item--active &__arrow {
        rotate: 0deg;
    }
}
.top-act {
    margin-left: auto;
    // @include abstracts.breakpoint(md) {
    //     margin-left: 0;
    // }
    @extend %flexItemCenter;
    gap: 20px;
    @include abstracts.breakpoint(md) {
        gap: 10px;
    }
    &__sign-up {
        @include abstracts.breakpoint(md) {
            padding: 0 8px !important;
            font-size: 1.5rem !important;
            height: 40px !important;
        }
        @include abstracts.breakpoint(sm) {
            margin-left: 0 !important;
        }
    }
    &__group {
        @extend %flexItemCenter;
        min-width: 50px;
        height: 50px;
        @include abstracts.breakpoint(sm) {
            background: transparent;
            box-shadow: none;
        }
        border-radius: 8px;
        background: var(--top-act-group-bg-color);
        box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);
        &-wrap {
            @include abstracts.breakpoint(md) {
                display: none;
            }
        }
    }
    // &__group--single {
    //     @include abstracts.breakpoint(lg) {
    //         display: none;
    //     }
    // }
    &__group--single &__btn {
        padding: 13px;
    }
    &__btn-wrap {
        position: relative;
        &:hover .act-dropdown {
            display: block;
        }
    }
    &__btn {
        // padding: 13px 20px;
        @include abstracts.breakpoint(md) {
            padding: 0px;
        }
        @include abstracts.breakpoint(sm) {
            margin-left: 10px;
        }
        padding: 8px;
        @extend %flexItemCenter;
        cursor: pointer;
    }
    &__title {
        margin-left: 10px;
        font-size: 15px;
        font-weight: 500;
        line-height: 146.667%;
    }
    &__separate {
        // width: 1px;
        // height: 30px;
        margin: 0 20px;
        border-right: 1px solid var(--top-act-group-separate);
        // background-color: var(--top-act-group-separate);
    }
    &__user {
        position: relative;

        &:hover .act-dropdown {
            display: block;
        }
    }
    &__avatar {
        display: flex;
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 8px;
        cursor: pointer;
    }
    &__dropdown {
        display: block;
        right: -15px !important;
        width: min(300px, 100vw) !important;
    }
    &__dropdown__arrow {
        right: 5px !important;
    }
}
.nav-btn {
    height: 50px;
    @include abstracts.breakpoint(sm) {
        height: 44px;
    }
    display: none;
    padding: 0 40px;
    align-items: center;
    @include abstracts.breakpoint(md) {
        display: flex;
    }
    @include abstracts.breakpoint(sm) {
        padding: 0 20px;
    }
    &__title {
        margin-left: 16px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.5;
    }
    &__qnt {
        margin-left: auto;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.5;
    }
}
.act-dropdown {
    display: none;
    position: absolute;
    width: min(645px, 100vw);
    top: 48px;
    right: -60px;
    padding-top: 28px;
    &__inner {
        position: relative;
        padding: 30px;
        border-radius: 20px;
        background-color: var(--header-act-dropdown-bg);

        box-shadow: 0px 40px 90px 20px var(--header-act-dropdown-sha);
    }
    &___arrow {
        position: absolute;
        height: 20.5px;
        top: -17px;
        right: 90px;
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    &__title {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
    }
    &__view-all {
        font-size: 1.8rem;
        color: #0071dc;
        line-height: 145.455%;
    }
    &__bottom {
        margin: 30px 0;
        padding: 30px 0;
        border-width: 1.5px 0;
        border-color: var(--header-act-dropdown-border-color);
        border-style: solid;
    }
    &__separate {
        height: 1;

        background-color: var(--header-act-dropdown-border-color);
        margin: 30px 0;
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--bold {
            font-weight: 500;
        }
    }
    &__row + &__row {
        margin-top: 20px;
    }
    &__list {
        padding-bottom: 10px;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    &__label,
    &__value {
        font-size: 2.2rem;
        line-height: 145.455%;
    }
    &__checkout {
        display: flex;
        justify-content: flex-end;
        &-btn {
            min-width: 278px;
            height: 68px !important;
            font-size: 2.2rem !important;
        }
    }
}
.cart-preview-item {
    text-align: left;
    &__img-wrap {
        position: relative;
        padding-top: 100%;
        border: 1px solid var(--header-act-dropdown-border-color);
        border-radius: 10px;
    }
    &__thumb {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &__title {
        margin-top: 14px;
        font-size: 1.4rem;
        line-height: 142.857%;
    }
    &__price {
        margin-top: 6px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.2rem;
    }
}
.user-menu {
    &__top {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__avatar {
        width: 60px;
        height: 60px;
        border-radius: 10px;
        object-fit: cover;
    }
    &__name {
        margin-bottom: 6px;
        font-size: 1.8rem;
        font-weight: 600;
    }
    &__list {
        margin-top: 30px;
    }
    &__link {
        display: flex;
        padding: 12px 0;
        justify-content: space-between;
        align-items: center;
    }
    &__separate {
        margin-top: 10px;
        padding-top: 10px;

        border-top: 1px solid var(--separate-color);
    }
    &__icon {
        width: 15px;
        height: 15px;
    }
}
